<!doctype html>
<html lang="en">
  <head>
<!--    <script> window.location="/shop";</script>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "icon" href ="http://127.0.0.1:8000/media/shop/images/logo-nku.png" type = "image/x-icon">
    <title>QR Kafe</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">QR Kafeye Hoş Geldiniz</h1>
      <hr>
      <a class="btn btn-primary btn-lg" href="/home" role="button">Misafir</a>
      <a class="btn btn-primary btn-lg" href="/admin" role="button">Yönetici</a>
      <a class="btn btn-primary btn-lg" href="/admin" role="button">Personel</a>
      <hr>
      <p class="lead">NKÜ Bilgisayar Mühendisliği - Bitirme Projesi</p>
      <hr class="my-4">
      <p>Mert VURAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>2190656022</b>&emsp;<a href="https://github.com/vuralmert">@vuralmert</a> </p>
      <p>Öyküm Özdebağ TÜNEY&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>2190656023</b>&emsp;<a href="https://github.com/ozdebagtuney">@ozdebagtuney</a> </p>
      <p>Muhammed Harun AYDENİZ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>2190656034</b>&emsp;<a href="https://github.com/harunaydnz">@harunaydnz</a> </p>

      <footer>
        <hr>
        <p><b>NKÜ 2022 - 2023</b></p>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>